<div>
  <button routerLink="/">
    Back
  </button>
</div>

<div>
  Line {{linesAnswered}} / {{numberOfLines}}
</div>

<div>
  <div class="grid" id="trivia-stats-line">
    <div class="center trivia-stat-item">Correct: {{correctCounter}}</div>
    <div class="center trivia-stat-item">Incorrect: {{incorrectCounter}}</div>
    <div class="center trivia-stat-item">Skipped: {{skippedCounter}}</div>
  </div>

  <div id="trivia-line-guess">
    <div *ngIf="currentlySelectedLine">
      {{currentlySelectedLine.line}}
    </div>

    <input [(ngModel)]="enteredValue" list="character-options" (keyup.enter)="checkIfAnswerIsCorrect()">
    <datalist id="character-options">
      <option *ngFor="let character of characters" value="{{character}}">{{character}}</option>
    </datalist>

    <button class="trivia-button" (click)="checkIfAnswerIsCorrect()">Submit</button>

    <button class="trivia-button" (click)="skipLine()">Skip</button>
  </div>

  <div *ngIf="correctCounter + incorrectCounter > 0">
    Percent Correct: {{100 * correctCounter / (correctCounter + incorrectCounter)}}
  </div>
</div>