@import "../../../styles.scss";

/* ----- Stats ----- */
#trivia-stats-line {
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
}

.trivia-stat-item {
  background-color: $blue;
  margin: 0 9px;
  padding: 5px 0;
  color: #272727;
}

/* ----- Trivia Line ----- */
#trivia-line-guess {
  margin: 18px 0;
  background-color: #1c1c1c;
  padding: 9px 13px;
  border: 1px solid white;
  border-radius: 3px;
}

#current-line-trivia {
  margin-bottom: 9px;
}

.trivia-button {
  margin-left: 15px;
}

.highlight-item {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.highlight-correct-state {
  animation-name: highlight-correct-color;
}

@keyframes highlight-correct-color {
  0% {
    background-color: $green;
  }

  25% {
    background-color: $green;
  }

  100% {
    background-color: $blue;
  }
}

.highlight-incorrect-state {
  animation-name: highlight-incorrect-color;
}

@keyframes highlight-incorrect-color {
  0% {
    background-color: $red;
  }

  25% {
    background-color: $red;
  }

  100% {
    background-color: $blue;
  }
}

.highlight-skip-state {
  animation-name: highlight-skip-color;
}

@keyframes highlight-skip-color {
  0% {
    background-color: $yellow;
  }

  25% {
    background-color: $yellow;
  }

  100% {
    background-color: $blue;
  }
}

/* ----- History ----- */
#answer-history-container {
}

.answer-history-line {
  width: fit-content;
  margin: 4px 0;
  color: #292929;
  padding: 2px 10px;
  border-radius: 3px;
}

.history-correct {
  background-color: $green;
}

.history-incorrect {
  background-color: $red;
}

.history-skip {
  background-color: $yellow;
}
