/* ----- Vars ----- */
$orange: #af3a07;
$green: #388104;
$yellow: #c9b40b;
$red: #b72f2f;
$blue: #058ba2;

/* ----- HTML ----- */
body {
  background-color: #292929;
  color: #d6d6d6;
}

/* ----- Utils ----- */
.center {
  text-align: center;
}

.grid {
  display: grid;
}
